@model BudgetSystem.Core.ViewModels.ORSMainManagerViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>


<div>
    <h4>ORSMainInformation</h4>
    <hr />
    @foreach (var item in Model.ListORSMain)
    {
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.ORSMain.Date)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ORSMain.Date)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ORSMain.AllotmentCode)
            </dt>

            <dd>
                @Html.DisplayFor(modelItem => item.UACSClass.Caption)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ORSMain.FundSource)
            </dt>

            <dd>
                @Html.DisplayFor(modelItem => item.FundSource.Caption)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ORSMain.FundCluster)
            </dt>

            <dd>
                @Html.DisplayFor(modelItem => item.FundCluster.Caption)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ORSMain.Payee)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ORSMain.Payee)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ORSMain.Office)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ORSMain.Office)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ORSMain.Address)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ORSMain.Address)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ORSMain.Particulars)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ORSMain.Particulars)
            </dd>
        </dl>
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ORSDetails.RCId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ORSDetails.PAPId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ORSDetails.UACSId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ORSDetails.Amount)
                </th>
            </tr>

            @foreach (var item2 in Model.ListORSDetails)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item2.RC.Code)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item2.MFOPAP.Code)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item2.UACS.Code)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item2.ORSDetails.Amount)
                    </td>
                </tr>
            }

        </table>
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.ORSMain.BoxASignatory)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ORSMain.BoxASignatory)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ORSMain.BoxAPosition)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ORSMain.BoxAPosition)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ORSMain.BoxBSignatory)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ORSMain.BoxBSignatory)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ORSMain.BoxBPosition)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ORSMain.BoxBPosition)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ORSMain.Processor)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ORSMain.Processor)
            </dd>

        </dl>
    }
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ORSMain.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
