@model IEnumerable<BudgetSystem.Core.ViewModels.RCItemViewModel>

@{
    ViewBag.Title = "RC Management";
}

<h2>Responsibilty Center</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.RC.Code)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RC.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RC.Acronym)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RC.PAP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RC.Status)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.RC.Code)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RC.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RC.Acronym)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MFOPAP.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RC.Status)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.RC.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.RC.Id })
        </td>
    </tr>
}

</table>
