@model BudgetSystem.WebUI.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}

<h2>@ViewBag.Title.</h2>

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Create a new account.</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Username, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Username, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.FullName, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.FullName, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Position, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.DropDownList("Position", new List<SelectListItem>
            {
                new SelectListItem { Text="Administrative Officer V", Value="Administrative Officer V"},
                new SelectListItem { Text="Administrative Officer IV", Value="Administrative Officer IV" },
                new SelectListItem { Text="Administrative Officer II", Value="Administrative Officer II" },
                new SelectListItem { Text="Administrative Assistant II", Value="Administrative Assistant II" },
                new SelectListItem { Text="Administrative Assistant", Value="Administrative Assistant" },
                new SelectListItem { Text="Budget Data Management Assistant", Value="Budget Data Management Assistant" },
                new SelectListItem { Text="Chief Administrative Officer", Value="Chief Administrative Officer" },
                new SelectListItem { Text="Data Management Officer", Value="Data Management Officer" },
                new SelectListItem { Text="Office Support Staff", Value="Office Support Staff" },
                new SelectListItem { Text="Project Evaluation Officer II", Value="Project Evaluation Officer II" }
            }, new { @class = "form-control dropdown" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Section, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.DropDownList("Section", new List<SelectListItem>
            {
                new SelectListItem { Text="Regular Programs Section", Value="Regular Programs Section"},
                new SelectListItem { Text="Foreign-Assisted, Locally Funded and Special Programs Section", Value="Foreign-Assisted, Locally Funded and Special Programs Section" },
                new SelectListItem { Text="Line Bureaus, Attached Agencies and Personnel Services Benefit Section", Value="Line Bureaus, Attached Agencies and Personnel Services Benefit Section" },
                new SelectListItem { Text="Consolidation and Report Compliance Section", Value="Consolidation and Report Compliance Section" },
                new SelectListItem { Text="Regional Operations and Staff Bureaus Section", Value="Regional Operations and Staff Bureaus Section" },
                new SelectListItem { Text="Support Services Section", Value="Support Services Section" },
                new SelectListItem { Text="Chief, Budget Division", Value="Chief, Budget Division" }
            }, new { @class = "form-control dropdown" })
        </div>
    </div>
    <div class="form-group">
        @Html.Label("User Role", new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @*@Html.DropDownList("Name")*@
            @Html.DropDownList("UserRoles", (SelectList)ViewBag.Name, new { @class = "form-control dropdown" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Register" />
        </div>
    </div>
    }

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
