@model BudgetSystem.Core.ViewModels.ORSDetailsManagerViewModel

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>ORSDetailsInformation</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ORSdetails.Id)


        <div class="form-group">
            @Html.LabelFor(model => model.ORSdetails.ORSId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ORSdetails.ORSId, new { htmlAttributes = new { @class = "form-control", @Value = Model.ORSNumber } })
                @Html.ValidationMessageFor(model => model.ORSdetails.ORSId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ORSdetails.RCId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.ORSdetails.RCId, new SelectList(Model.RC, "Id", "Caption"), new { @class = "form-control dropdown" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ORSdetails.PAPId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.ORSdetails.PAPId, new SelectList(Model.PAP, "Id", "Caption"), new { @class = "form-control dropdown" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ORSdetails.UACSId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.ORSdetails.UACSId, new SelectList(Model.UACS, "Id", "Caption"), new { @class = "form-control dropdown" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ORSdetails.Amount, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ORSdetails.Amount, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ORSdetails.Amount, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    <script type="text/javascript">
        $(function () {
            $(".dropdown").chosen();
        });
    </script>
    @Scripts.Render("~/bundles/jqueryval")
}
